$base_color:#FEC81A;
$text_color:#484848;
$blue:#306AA7;
@function get_size($s) {
  @return (100vw/750px)*$s
  }

  background-color: $base_color;
  height: 60px;
  position: relative;
  .menu{
    width: get_size(90px);
    height: get_size(90px);
    font-size: get_size(45px);
    color: $base_color;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    margin-left: 10px;
    svg{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      -webkit-transform: translateY(-50%) translateX(-50%);
    }
  }
  h1{
    position: absolute;
    width: get_size(354px);
    font-size: 0;
    padding:5px 0;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    img{
      width: 100%;
    }
  }
}